<!doctype html>
<html>
<head>
	<title>Node Authentication</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<style>
		body 		{ padding-top:80px; }
		.bord { margin-top: 10px; }
	</style>
</head>
<body>
	<div class="container">

		<div class="jumbotron text-center">
			<h1><span class="fa fa-lock"></span> Social Authentication Example</h1>

			<p>Login or Register with:</p>
			<div class='row'>
				<div class='col-xs-12 col-md-3 bord'>
					<a href="/login" class="btn btn-secondary col-xs-12"><span class="fa fa-user"></span> Local Login</a>
				</div>
				<div class='col-xs-12 col-md-3 bord'>
					<a href="/signup" class="btn btn-secondary col-xs-12"><span class="fa fa-user"></span> Local Signup</a>
				</div>
				<div class='col-xs-12 col-md-3 bord'>
					<a href="/auth/facebook" class="btn btn-primary col-xs-12"><span class="fa fa-facebook"></span> Facebook</a>
				</div>
				<div class='col-xs-12 col-md-3 bord'>
					<a href="/auth/twitter" class="btn btn-info col-xs-12"><span class="fa fa-twitter"></span> Twitter</a>
				</div>
				<div class='col-xs-12 col-md-3 bord'>
					<a href="/auth/google" class="btn btn-danger col-xs-12"><span class="fa fa-google-plus"></span> Google+</a>
				</div>
				<div class='col-xs-12 col-md-3 bord'>
					<a href="/auth/github" class="btn btn-success col-xs-12"><span class="fa fa-github"> Github</span></a>
				</div>
				<div class='col-xs-12 col-md-3 bord'>
					<a href="/auth/linkedin" class="btn btn-info col-xs-12"><span class="fa fa-linkedin"> LinkedIn</span></a>
				</div>
				<div class='col-xs-12 col-md-3 bord'>
					<a href="/auth/instagram" class="btn btn-warning col-xs-12"><span class="fa fa-instagram"> Instragram</span></a>
				</div>
			<div>
		</div>

	</div>
</body>
</html>